.group-title {
  /*border: 1px solid red;*/
  margin-left: 30px;
}

.group-title li {
  /*border: 1px solid red;*/
  font-size: 1.1em;
  margin:20px;
  list-style-type: none;
}

.events-list {
  /*border: 1px solid green;*/
  margin-left: 30px;
}

.event-detail {
  /*border: 1px solid red;*/
  margin: 10em auto;
  width: 60%;
  padding: 1em;
  background: white;
}

.event-detail ul {
  list-style-type: none;
}

#map {
   width: 500px;
   height: 300px;
 }
