@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600|Roboto|Ubuntu:300,400,500,700|Rozha+One');

body {
  /*background-color: #f5f7f6;*/
  font-family: 'Ubuntu', sans-serif;
  color: #414547;
  background-color: #FAFAFA;
}

header {
  /*border: 1px solid blue;*/
  border-bottom: 1px solid #e2e2e2;
  height: 5em;
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


header a {
  color: #414547;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  /*border: 1px solid red;*/
}

#logo {
  /*border: 1px solid green;*/
  transition: left 0.3s ease;
  display: inline;
  text-align: center;
  font-weight: 600;
  color: white;
  width: 5em;
  margin-left: -2.5em;
  position: absolute;
    top: 10%;
    left: 50%;
}

/*.main-header a {
  border: 1px solid green;
  text-decoration: none;
  color: white;
}*/

header {
  /*background-color: #00C3D1;*/
  background-color: #63DFE8;
}

nav a{
  /*border: 1px solid red;*/
  text-decoration: none;
  border-radius: 5px;
  padding: 1em 1em;
}

.styled-nav {
  background-color: #CCF418;
  border-radius: 2em;
}

.text-nav {
}

#nav-profile-pic img{
  border-radius: 11%;
}

#nav-bar {
  padding: 1.2em 1em;
  /*border: 1px solid green;*/
  position: absolute;
    top: 0;
    right: 0;
  width: 21em;
}

#nav-bar, #logo {
  margin-top: 1rem;
}

.success-error-messege {
  background-color: #414547;
  opacity: 0.5;
  /*border: 1px solid red;*/
  margin-top: 80px;
}

.success-error-messege p {
  color: white;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  /*border: 1px solid orange;*/
  width: 80%;
  margin: 6em auto;
}

.groups-index {
  padding: 1em;
  margin-left: 30px;
  /*border: 1px solid green;*/
  border-radius: 0.1em;
  box-shadow: 0px 2px 2px 0px rgba( 0, 0, 0, 0.1 );
}

.groups-index a{
  /*border: 1px solid red;*/
  font-size: 1.1em;
  text-decoration: none;
  color: #414547;
  display: inline-block;
  padding: 15px;
}

.events-index {
  padding: 1em;
  /*border: 1px solid red;*/
  margin-left: 30px;
  font-size: 1.1em;
}

.events-index h3 {
  color: #414547;
}

.events-index a {
  text-decoration: none;
  color: #414547;
  font-size: 1.4em;
}

.events-index button {
  /*border: 1px solid blue;*/
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  background: #CCF418;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#events-group {
  text-align: right;
}

#events-owner {
  /*border: 1px solid red;*/
  text-align: left;
}

.events-index div{
  /*border: 1px solid green;*/
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba( 0, 0, 0, 0.1 );
  margin-bottom: 20px;
  padding: 1em;
  text-align: center;
}

.profile-pic img{
  border-radius: 90%;
  /*border: 3px solid white;*/
}

.profile-info {
  /*border: 1px solid red;*/
  text-align: center;
}

.profile-info p {
  color: #414547;
}

.profile-info span {
  background-color: rgba(65, 69, 71, 0.2);
  padding: 10px 30px;
  display: inline-block;
}

.profile-button a{
  text-decoration: none;
  font-size: 20px;
  /*border: 1px solid blue;*/
  margin: 0.5em;
  padding: 1em;
}

@media only screen and (max-width: 850px ) {
  #logo { margin-left: 0; left: 0; }
}

@media only screen and (max-width: 640px ) {
  .text-nav { display: none; }
  #material-icons-nav { padding: 0.2em; }
  #nav-bar { width: 9em; }
}

@media only screen and (min-width: 640px ) {
  #material-icons-nav { display: none}
}
